<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>395505037531-n9fr9a4ljaj0i89vv349hsspg8vlvmsf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.395505037531-n9fr9a4ljaj0i89vv349hsspg8vlvmsf</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>395505037531-ua3a3b1jebmoklai56c2amqtr3p5g6f2.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyD3oxk8TN4Ys9XXMlAfYoOLySmYxUd9CP4</string>
	<key>GCM_SENDER_ID</key>
	<string>395505037531</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.doAn2</string>
	<key>PROJECT_ID</key>
	<string>my-fitness-pn</string>
	<key>STORAGE_BUCKET</key>
	<string>my-fitness-pn.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:395505037531:ios:8c62d8297c119ce8449cfe</string>
</dict>
</plist>